<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="API Tests">
            <directory>tests/Api</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="DB_HOST" value="db"/>
        <env name="DB_NAME" value="devdb"/>
        <env name="DB_USER" value="devuser"/>
        <env name="DB_PASS" value="devpass"/>
        <env name="API_KEY" value="test-api-key"/>
        <env name="ENVIRONMENT" value="TESTING"/>
    </php>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
